//
// Typography
//
// stylelint-disable primer/selector-no-utility, primer/no-override, selector-no-type, selector-max-type

h1,
.text-alpha {
  font-size: $font-size-8;
  font-weight: 800;
  color: $green-syde;
}

h2,
.text-beta {
  font-size: $font-size-6;
}

h3,
.text-gamma {
  font-size: $font-size-5;
}

h4,
.text-delta {
  font-size: $font-size-2;
}

h4 code {
  text-transform: none;
}

h5,
.text-epsilon {
  font-size: $font-size-3;
}

h6,
.text-zeta {
  font-size: $font-size-2;
}

.text-small {
  @include fs-3;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

p {
  font-size: $font-size-11;
  font-weight: normal;
}
